<% provide(:title, 'About This App') %>

<h1>About This App</h1>
<p> Zombify is an application developed by <a href="http://www.mmccandless.com">Matt McCandless</a> to allow users to submit posts about everyday life and transform them into post submitted at the end of the world.</p>