<p id="notice"><%= notice %></p>

<p>
  <strong>Noun phrase:</strong>
  <%= @noun_phrase.noun_phrase %>
</p>

<%= link_to 'Edit', edit_noun_phrase_path(@noun_phrase) %> |
<%= link_to 'Back', noun_phrases_path %>
